{% extends "basefront.html.twig" %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h3>Bienvenue sur le site de MediaTek86 consacré aux formations en ligne</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p>
                    Vous allez pouvoir vous former à différents outils numériques, gratuitement et directement en ligne.<br/>
                    Dans la partie <strong><a href="{{ path('formations') }}" class="link-info">Formations</a></strong>, vous
                    trouverez la liste des formations proposées.
                    Vous pourrez faire des recherches et des tris.
                    En cliquant sur la capture, vous accèderez à la présentation plus détaillée de la formation ainsi que la
                    vidéo correspondante.<br/>
                    Vous pouvez aussi retrouver les vidéos regroupées dans des playlists, dans la partie <strong><a
                                href="{{ path('playlists') }}" class="link-info">Playlists</a></strong>.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h4>Voici les <strong>deux dernières formations</strong> ajoutées au catalogue :</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                {% if formations|length >= 2 %}
                    {% for formation in formations|slice(0, 2) %}
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <a href="{{ path('formations.showone', {id: formation.id}) }}">
                                    {% if formation.picture %}
                                        <img src="{{ asset(formation.picture) }}" alt="{{ formation.title }}"
                                             class="img-fluid rounded" style="width:100%;height:auto;">
                                    {% else %}
                                        <div class="bg-secondary text-white text-center p-5 rounded">
                                            No Image Available
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-center">
                                <p>{{ formation.publishedatstring }}</p>
                                <h5 class="text-info mt-1">
                                    <a href="{{ path('formations.showone', {id: formation.id}) }}"
                                       class="text-decoration-none">
                                        {{ formation.title }}
                                    </a>
                                </h5>
                                <p>
                                    <strong>playlist : </strong>
                                    <a href="{{ path('playlists.showone', {id: formation.playlist.id}) }}"
                                       class="text-decoration-none">
                                        {{ formation.playlist.name }}
                                    </a>
                                </p>
                                <p>
                                    <strong>catégories : </strong>
                                    {% for categorie in formation.categories %}
                                        <span class="badge bg-info">{{ categorie.name }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% elseif formations|length == 1 %}
                    {% for formation in formations %}
                        <div class="row mb-4">
                            <div class="col-md-4">
                                <a href="{{ path('formations.showone', {id: formation.id}) }}">
                                    {% if formation.picture %}
                                        <img src="{{ asset(formation.picture) }}" alt="{{ formation.title }}"
                                             class="img-fluid rounded" style="width:100%;height:auto;">
                                    {% else %}
                                        <div class="bg-secondary text-white text-center p-5 rounded">
                                            No Image Available
                                        </div>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-md-8 d-flex flex-column justify-content-center">
                                <p>{{ formation.publishedatstring }}</p>
                                <h5 class="text-info mt-1">
                                    <a href="{{ path('formations.showone', {id: formation.id}) }}"
                                       class="text-decoration-none">
                                        {{ formation.title }}
                                    </a>
                                </h5>
                                <p>
                                    <strong>playlist : </strong>
                                    <a href="{{ path('playlists.showone', {id: formation.playlist.id}) }}"
                                       class="text-decoration-none">
                                        {{ formation.playlist.name }}
                                    </a>
                                </p>
                                <p>
                                    <strong>catégories : </strong>
                                    {% for categorie in formation.categories %}
                                        <span class="badge bg-info">{{ categorie.name }}</span>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Aucune formation disponible pour le moment.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
